body, html {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "LeagueGothicReg";
    src: url("../fonts/LeagueGothic/LeagueGothic-Regular.otf");
}

@font-face {
    font-family: "SegoeUIEmoji";
    src: url("../fonts/SegoeUIEmoji/seguiemj.ttf");
}

h1 {
    font-family: SegoeUIEmoji;
    color: #0097D8;
}

a {
    text-decoration: none;
}


.title {
    position: relative;
    width: 800px;
    height: 71px;
    display: inline-block;
    margin-top: 20px;
}

.title img {
    position: relative;
    float: left;
}

.title h1 {
    margin-top: 15px;
}


.header {
    background: #0097D8;
    height: 120px;
    top:0;
    right: 0;
    position: relative;
    margin: 0;
}



.header_bottom {
    background: #005DA8;
    height: 50px;
    position: relative;
}


.header_tittle {
    z-index: 0;
    font-family: LeagueGothicReg;
    font-size: 550%;
}

.logo {
    text-align: right;
    margin-top: 2px;
}

.deconnexion {
    margin-top:25px;
    width: 130px;
    height: 70px;
    background: #FFE500;
    text-align: center;
}

ul {
    margin-top: 1.5px;
    z-index: 0;
    width: 100%;
    height: 30px;
}

#menu {
    width: 100%;
    padding: 0;
}

ul li {
    display:block;
    float:left;
    width:25%;
    text-decoration:none;
    text-align:center;
    color: white;
}

.container-fluid-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

span.glyphicon-user {
    margin-top: 10px;
    font-size: 1.6em;
}

.nosAgence {
    position: relative;
    width:100%;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.connection {
    margin-top: 10%;
}

.register {
    margin-top: 3%;
}

.agence {
    background-color: #0097D8;
    position: relative;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    margin-right: 10%;
    margin-bottom: 7%;

}





[data-wipe] {
    display: inline-block;
    padding: 12px 18px;
    text-decoration: none;
    position: relative;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: left;
    color: #F1F1F2;
    overflow: hidden;
}
[data-wipe]:before, [data-wipe]:after {
    content: attr(data-wipe);
    padding-top: inherit;
    padding-bottom: inherit;
    white-space: nowrap;
    position: absolute;
    top: 0;
    overflow: hidden;
    color: #F1F1F2;
    background: #445561;
}
[data-wipe]:before {
    left: 0;
    text-indent: 18px;
    width: 0;
}
[data-wipe]:after {
    padding-left: inherit;
    padding-right: inherit;
    left: 100%;
    text-indent: calc(-100% - 36px);
    transition: 0.2s ease-in-out;
}
[data-wipe]:hover:before {
    width: 100%;
    transition: width 0.2s ease-in-out;
}
[data-wipe]:hover:after {
    left: 0;
    text-indent: 0;
    transition: 0s 0.2s ease-in-out;
}

