body, html {
    width:100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background: #0097D8;
    width: 100%;
    height: 120px;
    top:0;
    right: 0;
    position: relative;
}

.header_bottom {
    background: #005DA8;
    width: 100%;
    height: 50px;
    position: relative;
}